@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  align-self: center;
}


html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color:
}

#title-bar {
  -webkit-app-region: drag;
  height: 50px;
  margin: 0px;
  background-color: #19478A;
  color: #FFFFFF;
  font-family: sans-serif;
  position: fixed;
  width: 100%
}

#title {
  top: 0
  left: 0px;
  margin: 10px;
  font-size: 30px;
  display: inline-block;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  right: 0;
  margin: 10px;
  font-size: 30px;
  height: 30px;
  top: 0;
  display: inline-block;
  position: fixed;
}

#title-bar-btns i:hover{
	background-color: rgba(#000, 0.2)
}
.webview {
	height: 100%;
}
